[user]
	useConfigOnly = true
[core]
	excludesfile = ~/dotfiles/.gitignore_global
	pager = delta --paging always --color-only
	commentChar = ";"
[pager]
	branch = false
	grep = less
[interactive]
	singleKey = true
	diffFilter = delta --color-only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[diff]
	colorMoved = default
[include]
	path = ~/dotfiles/.gitconfig.users
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[tag]
	gpgSign = true
