[user]
	useConfigOnly = true
[core]
	excludesfile = ~/dotfiles/.gitignore_global
	pager = delta --paging always --color-only
[pager]
	branch = false
[interactive]
	singleKey = true
	diffFilter = delta --color-only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[include]
	path = ~/dotfiles/.gitconfig.users
