[user]
	useConfigOnly = true
[core]
	excludesfile = ~/dotfiles/.gitignore_global
	pager = delta --paging always --color-only
	commentChar = ";"
[pager]
	branch = false
	grep = less
[interactive]
	singleKey = true
	diffFilter = delta --color-only
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = main
[diff]
	colorMoved = default
[include]
	path = ~/dotfiles/.gitconfig.users
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[tag]
	gpgSign = true
[credential "https://github.com"]
	username = misoobu
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
